#create-section-1
{
	background:url('../../images/bg-create-main.jpg');
	background-size: cover;
	height: 575px;
}
.h-create
{
	font-family: 'avenir next';
	font-weight: lighter;
	color: white;
}
#h1-c
{
	font-size: 3.5em;
}
#sh1-c
{
	font-size: 1.8em;
}
#div1-c
{
	padding : 225px 225px 0 225px;
}
#btn1-c
{
	border:none;
	border-radius: 0;
	background-color: transparent;
	color: white;
	margin-top: 120px;
	font-size: 1.5em;
}
#h2-c
{
	padding-top: 15px;
	color: black;
}
#text-cr{
	font-size: 1.1em;
	padding: 45px;
}
@media only screen and (max-width: 425px) {
    #div1-c{
    	padding: 60px 15px;
    }
    #btn1-c{
    	margin-top: 0;
    	padding-bottom: 30px;
    }
    #create-section-1{
    	height: initial;
    }
    #text-cr{
    	padding: initial;
    }
}